pipeline/pl_final1.json
{
	"name": "pl_final1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_getmeta_source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'VBRK')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_copy_source_finalproject",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_copy_sink_finalproject",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "delete from @concat('dbo.', item().TableName)\n",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"VBELN"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "VBELN",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VBELN",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "FKART",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "FKART",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "VKORG",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VKORG",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "VTWEG",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VTWEG",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "SPART",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SPART",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "FKDAT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "FKDAT",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "KUNAG",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "KUNAG",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "KUNRG",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "KUNRG",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "WAERK",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "WAERK",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "NETWR",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "NETWR",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 15
											}
										},
										{
											"source": {
												"name": "MWSBK",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MWSBK",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 15
											}
										},
										{
											"source": {
												"name": "FKSTO",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "FKSTO",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "SFAKN",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SFAKN",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ERNAM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ERNAM",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ERDAT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ERDAT",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "ERZET",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ERZET",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "AENAM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AENAM",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "AEDAT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AEDAT",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "BUKRS",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "BUKRS",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CREATED_TS",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CREATED_TS",
												"type": "Byte[]",
												"physicalType": "timestamp"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_copy_source_finalproject",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable2",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@concat('dbo.', activity('Lookup1').output.firstRow.TableName)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM dbo.FileToTableConfig\nwhere FileName = '@{item().name}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTable3",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}