pipeline/pl_incremental.json
{
	"name": "pl_incremental",
	"properties": {
		"activities": [
			{
				"name": "ForEach1 for incremental",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Tablelist",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "oldwatermark value",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select WatermarkValue from watermarktable where\ntablename = '@{item().tableName}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql02_source",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "newwatermark value",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select max(last_updated) as newwatermarkvalue\nfrom @{item().tableName};",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_newwatermark_lookup",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data1 incrementally",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "oldwatermark value",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "newwatermark value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from \n@{item().tableName}\nwhere @{item().WaterMark_Column} > '@{formatDateTime(activity('oldwatermark value').output.firstRow.WatermarkValue, 'yyyy-MM-ddTHH:mm:ss')}' \nand @{item().WaterMark_Column} <= '@{formatDateTime(activity('newwatermark value').output.firstRow.newwatermarkvalue,'yyyy-MM-ddTHH:mm:ss')}' ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"id"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_copy_sqldb02",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_copy_sql03",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1 incrementally",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark]",
								"storedProcedureParameters": {
									"last_updated": {
										"value": {
											"value": "@activity('newwatermark value').output.firstRow.newwatermarkvalue",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Tablelist": {
				"type": "array",
				"defaultValue": [
					{
						"tableName": "iplteams",
						"tableSchemaName": "dbo",
						"WaterMark_Column": "last_updated"
					},
					{
						"tableName": "employees",
						"tableSchemaName": "dbo",
						"WaterMark_Column": "last_updated"
					},
					{
						"tableName": "salesitems",
						"tableSchemaName": "dbo",
						"WaterMark_Column": "last_updated"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-19T17:41:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}